* {
  margin: 0;
  padding: 0;
}
/* banner */

.card-tag{
  display: none;
}

.card-image{
  width: 70%;
  margin-left: 50px;
  padding: 10px;
}
.card{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.pacotes-title{
  text-align: center;
}

.fonte-site{
  font-family:Arial, Helvetica, sans-serif;

}

figure img{
  display: none;
}

/* Barra do Banner */
.barra-do-banner {
  background-color: #242424d7;
  display: grid;
  justify-content: center;
  color: rgb(252, 252, 252);
  padding: 1rem;
  justify-items: center;
  /* border-radius: 25px; */
  /* margin-left: 5%;
  margin-right: 5%; */
}

.barra-do-banner button {
  border-radius: 8px;
  padding: 0.4em;
  background-color: #ff5c5c;
  border: 2px solid white;
  margin: 1rem;
  cursor: pointer;
  float: left;
}
.barra-do-banner button:hover {
  background-color: #cf4e4e;
}


  figure {
    /* display: none; */
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: top center; 
    margin: 0;
  }
  
.img-banner {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-menu li {
  padding-top: 1%;
  padding-bottom: 4%;
}

#menu-centralizado ul li a {
  text-decoration: none;
  color: black;
}

/* fale conosco mobile*/
form{
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-org{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  display: none;
}

.container-fale {
  border-radius: 5px;
  background-color: #d8d4d4;
  padding: 50px;
  width: 650px;
  height: 600px;
  text-align: center;
  margin: 20px
}

input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 2px;
  box-sizing: border-box;
  border: 2px solid rgb(177, 169, 169);
  border-radius: 4px;
}


input[type=idade] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 2px;
  box-sizing: border-box;
  border: 2px solid rgb(177, 169, 169);
  border-radius: 4px;
}

input[type=cidade] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 2px;
  box-sizing: border-box;
  border: 2px solid rgb(177, 169, 169);
  border-radius: 4px;
  
}

.texto-fale{
  margin: 20px;
  margin-top: -30px;
  display: flex;
  align-items: center;
  margin-left: 45px;
  display: none;
}

textarea {
  width: 80%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(177, 169, 169);
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  margin-right: -5px;
  margin-bottom: -240px;
  margin: 20px;
}

main{
  display: grid;
  justify-items: center;
  row-gap: 10px;
  margin-bottom: 10px;
}

.button-carros{
  border-radius: 8px;
  padding: 0.5em;
  background-color: #ff5c5c;
  margin-bottom: 1rem;
  box-shadow: 0 0 1em gray;
  border: 2px solid white;
  cursor: pointer;
  float: left;
}

.button-card{
  color: white;
  left: 50px;
  background: black;
  padding: 5px 10px;
  margin-top: -20px;
}

.card-produto {
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 1em grey
}

.imagem-card {
  width: 15rem;
}

/* footer */

footer {
  background-color: black;
  /* display: flex; */
}

footer div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
}

footer div a img {
  width: 4vh;
  padding: 1rem;
}

footer nav {
  background-color: #ff5c5c;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: start;
  align-items: center;
  padding: 2rem;
}

footer nav a {
  text-decoration: none;
  color: rgb(245, 245, 245);
  font-weight: bold;
  padding: 3px;
}

footer div a p {
  display: none;
}

/* Tela de Desktop */

@media screen and (min-device-width: 1280px) {

  /* barra de navegacao */
  #menu-centralizado ul {
    text-align: center;
    list-style: none;
    padding: 0;
    background-color: white;
  }

  /* Matheus */
  #menu-centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Matheus */

  #menu-centralizado ul li {
    display: inline;
  }

  #menu-centralizado ul li a {
    color: #000000;
    padding: 20px;
    /* display: inline-block; */
    text-decoration: none;
    transition: background 0.6s;
    font-size: 20px;
    margin-top: -200px;
  }

  #menu-centralizado ul li a:hover {
    background-color: rgb(114, 58, 58);
  }

  .fonte {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
 /* sessão card */
.pacotes {
  background: rgb(226, 226, 226);
  padding: 15px;
}

.pacotes .pacotes-cards {
  display: flex;
  margin: auto;
  max-width: 950px;
  flex-wrap: wrap;
  justify-content: center;
}

.pacotes .pacotes-title {
  width: 100%;
  text-align: center;
  margin: 25px 0;
}

.pacotes .card{
  width: 250px;
  height: 350px;
  background: rgb(255, 255, 255);
  border-radius: 24px 0px;
  margin: 25px;
  position: relative;
}


.button-card{
  color: white;
  position: absolute;
  left: 50px;
  background: black;
  padding: 5px 50px;

}

.pacotes .card-image {
  width: 250px;
  height: 200px;
  border-radius: 24px 0 0 0;
  object-fit: cover;
}

.pacotes .card-content {
  padding: 0 15px;
}

.pacotes .card-content ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.pacotes .card-content ul li {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  margin: 3px 0;
  color: grey;
  font-weight: bold;
}

.pacotes .card-content li svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.pacotes .card-content h1 {
  font-size: 1rem;
}

.pacotes .card .card-tag-top {
  position: absolute;
  right: 0;
  top: 15px;
  background: black;
  border-radius: 8px 0 0 8px;
  padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
  position: absolute;
  left: 0;
  top: 160px;
  background: #ff5c5c;
  border-radius: 0 8px 8px 0;
  padding: 5px 10px;
  display: flex;
}

.pacotes .card .card-tag p {
  margin: 0;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
}

/*sobre nois*/
.sobre-nois{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#sobre-title{
  display: flex;
  font-size: 18px;
  padding: 0 10px; ;
  align-items: center;
  text-align: center;

}

/*main*/

figure img{
  width: 100%;
  display: flex;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  row-gap: 16px;
  column-gap: 16px;
  margin: 12px;
  flex-grow: 1;
  
}

.card-produto {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 1em grey
}

.titulo-card {
  margin: 8px 0
}

.imagem-card {
  width: 100%;
}

.button-carros{
  border-radius: 8px;
  padding: 0.5em;
  background-color: #ff5c5c;
  margin-bottom: 1rem;
  box-shadow: 0 0 1em gray;
  border: 2px solid white;
  cursor: pointer;
  float: left;


}

  /* fale conosco */

  .botao-fale{
    margin-top: 250px;
    margin-left: 520px;
  }

  .texto-fone{
    margin-left: 80px;
    margin-top: -55px;
  }

  form{
    display: flex;
  align-items: center;
  justify-content: center;
  }


  .container-fale {
    border-radius: 5px;
    background-color: #d8d4d4;
    padding: 50px;
    width: 650px;
    height: 500px;
    text-align: center;
    margin: 20px

  }

  #grid-org{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .container-fale2 {
    border-radius: 5px;
    background-color: #d8d4d4;
    padding: 50px;
    width: 220px;
    margin: 20px;
    height: 70px;

  }
  .container-fale3 {
    border-radius: 5px;
    background-color: #d8d4d4;
    padding: 50px;
    width: 220px;
    margin: 20px;

  }
  .container-fale4 {
    border-radius: 5px;
    background-color: #d8d4d4;
    padding: 50px;
    width: 220px;
    margin: 20px;

  }

  input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 2px;
    box-sizing: border-box;
    border: 2px solid rgb(177, 169, 169);
    border-radius: 4px;
  }
  

  input[type=idade] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 2px;
    box-sizing: border-box;
    border: 2px solid rgb(177, 169, 169);
    border-radius: 4px;
  }

  input[type=cidade] {
    width: 46%;
    padding: 12px 20px;
    margin: 8px 2px;
    box-sizing: border-box;
    border: 2px solid rgb(177, 169, 169);
    border-radius: 4px;
    
  }

  .texto-fale{
    margin: 20px;
    margin-top: -30px;
    display: flex;
    align-items: center;
    margin-left: 45px;
  }

  textarea {
    width: 80.5%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(177, 169, 169);
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    margin-right: -45px;
    margin-bottom: -240px;
  }
  /* footer home*/
  li img {
    vertical-align: middle;
    padding: 10px;
  }

  /* Barra banner Desktop */
  .barra-do-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
  }
  .barra-do-banner button {
    text-align: center;
    flex-grow: 0.2;
    font-size: large;
  }

  Footer Desktop footer {
    background-color: black;
  }
  footer div {
    justify-content: space-evenly;
  }
  footer nav {
    background-color: #ff5c5c;
    display: flex;
    justify-content: space-evenly;
  }
  footer nav a {
    color: whitesmoke;
  }
}

