*{
    margin: 0;
    padding: 0;
}
footer{
    background-color: rgba(0, 0, 0, 0.856);
    /* display: flex; */

}

footer div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem;
}

footer div a img{
    width: 4vh;
    padding: 1rem;
}

footer nav{
    background-color: #ff5c5c;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
    align-items: center;
    padding: 2rem;
}

footer nav a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-weight: bold;
    padding: 3px;
}
footer div a p{
    display: none;
}

/* barra de navegacao */

#menu-centralizado ul{
    text-align: center;
    list-style: none;
    padding: 0;
    background-color: white;
  }
  
  #menu-centralizado ul li {
    display: inline;
  
  }
  
  #menu-centralizado ul li a{
    color: #000000;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .6s ;
    font-size: 18px;
    margin-top: -200px;
  }
  
  #menu-centralizado ul li a:hover {
    background-color: rgb(114, 58, 58) ;
  }
  
  
  .fonte{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }
  
  li img {
    vertical-align: middle;
    padding: 10px;
  } 

/* Tela de Desktop */

@media screen and (min-device-width : 1200px) {
    footer{
        background-color:black ;
    }
    footer div{
        justify-content: space-evenly;
    }
    footer nav{
        background-color: #ff5c5c;
        display: flex;
        justify-content: space-evenly;
    }
    footer nav a{
        color: whitesmoke;
    }
}