*{
    margin: 0;
    padding: 0;
}

#menu-centralizado ul{
  text-align: center;
  list-style: none;
  padding: 0;
  background-color: white;
}

#menu-centralizado ul li {
  display: inline;

}

#menu-centralizado ul li a{
  color: #000000;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background .6s ;
  font-size: 18px;
  margin-top: -200px;
}

#menu-centralizado ul li a:hover {
  background-color: rgb(114, 58, 58) ;
}


.fonte{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

li img {
  vertical-align: middle;
  padding: 10px;
}
